.Lexend {
    font-family: "Lexend Deca", sans-serif;
    color: #e0e0e0;
}

.Raleway {
    font-family: "Raleway", sans-serif;
    color: #e0e0e0;
}

.Viga {
    font-family: "Viga", sans-serif;
    color: #e0e0e0;
}
