.fa {
    position: absolute;
    padding: 16px;
}

.login {
    width: 20%;
    line-height: 3;
    text-indent: 30px;
    margin-bottom: 10px;
    border-radius: 50px;
    font-family: 'Viga', sans-serif;
}
