<html>
    <head>
        <link rel="stylesheet" type="text/css" href="headers.css">
        <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1 class="Lexend">Heading 1</h1>
        <h2 class="Lexend">Heading 2</h2>
        <h3 class="Raleway">Heading 3</h3>
        <h4 class="Raleway">Heading 4</h4>
    </body>
</html>
